.btn:active, .btn:focus
	outline: none
	box-shadow:none

.pages
	padding: 0 10%
	margin-top: 50px

.search .search-query
	height: 100%

.form-search
	display flex
	justify-content space-between
	width 260px
	align-items center


#date-save
	height: 100%

.top
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 20px


.form-people-add p
	display: flex
	justify-content: space-between

.form-people-add p input
	margin-left: 10px
	min-height: 30px

input[type=date]
	min-height: 30px

#profession-view .icon-plus
	display: block
	margin: auto

.profession-add-btn
	width: 100%

.input-modal
	width 50%

.hide
	display none

.charge-add-block
	display flex
	align-items: center

.bi-plus-square
	margin-left: 5px